body {
    background-color:  #f2f4f8;
}

.forefront {
    z-index: 100;
}

.foreback {
    z-index: 1;
}

.forefrontphone{
    z-index: 99;
}

.colornavbar {
    background-color: #254E70;
}

