

.forefront {
    z-index: 100;
}

.foreback {
    z-index: 1;
}

.forefrontphone{
    z-index: 99;
}
.colornavbar {
    background-color: #254E70;
}

.colorslidebar {
    background-color: #8EE3EF;
}
