body {
    background-color: #f2f4f8;
}

.title {
    margin-top: 6rem;
    font-size: 3.5rem;
    color: black;
}

.textcatego {
    color: white;
    text-shadow: black 1px 0 100px;
    text-align: center;
    text-shadow: 0 0 1em blue, 0 0 0.2em blue;
}

.imgcategorie:hover {
    filter: blur(0.1rem) grayscale(50%);
}

.colornavbar {
    background-color: #254E70;
}

.img-carousel {
    width: 100%;
}

.text-footer {
    font-size: 1.5rem;
    font-weight: bold;
}

.lineBlack {
    background-color: black;
    width: 70%;
}

.buttonSignUp {
    background-color: #37718e;
}

.buttonSignUp:hover {
    background-color: transparent;
    border-color: #37718e;
}

.buttonSignIn {
    background-color: #8ee3ef;
}

.buttonSignIn:hover {
    background-color: transparent;
    border-color: #8ee3ef;
}

.SizeSuggestion {
    padding-right: 10%;
    padding-left: 10%;
}

.sidenav {
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 10;
    overflow-x: hidden;
    transition: 0.5s;
    left: 0%;
    z-index: 3;
    box-shadow:  -20px 0.01px 100px black;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    display: block;
    transition: 0.3s;
    margin-right: 0.5rem;
}

.sidenav a:hover {
    color: #254E70;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#navIndex {
    z-index: 2;
}

#prodIndex {
    z-index: 1;
}

.titleCardProduct {
    text-decoration: none;
    color: black;
}
